@font-face {
  font-family: streusel;
  src: url(../font/StreuselKuchen-Regular.ttf);
}

body,
html {
  font-family: streusel;
}

.modal {
  position: absolute;
  top: 0;
  background: url(../image/background.jpg) no-repeat center center / cover;
  font-size: 60px;

  transform: scale(1);
  transition: 0.6s;
}

.hard__click {
  background-color: #c75146c4;
}
.soft__click {
  background-color: #a3b18ac4;
}
.hard__click:hover {
  background-color: #c75146;
}
.soft__click:hover {
  background-color: #a3b18a;
}
