*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: streusel;
  src: url(../font/StreuselKuchen-Regular.ttf);
}

body,
html {
  font-family: streusel;
}
:root {
  --primary-color: #d77a61;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.direction-column {
  flex-direction: column;
}
.gap-3 {
  gap: 1rem;
}
.rounded-circle {
  border-radius: 50%;
}
.rounded {
  border-radius: 0.375rem;
}
.border-0 {
  border: none;
}
.col {
  flex: 1 0 0%;
}
.row > * {
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

button {
  cursor: pointer;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.modal {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: url(../image/background.jpg) no-repeat center center / cover;
  font-size: 60px;
  transform: translateX(0);
  transition: 2s;
}

.hard__button {
  background-color: #c75146c4;
  padding: 0.5rem 3rem;
  margin: 0 1.5rem;
}
.easy__button {
  background-color: #a3b18ac4;
  padding: 0.5rem 3rem;
  margin: 0 1.5rem;
}
.hard__button:hover {
  background-color: #c75146;
}
.easy__button:hover {
  background-color: #a3b18a;
}
main {
  width: 100%;
  height: 100vh;
  background: url(../image/background-2.jpg) no-repeat center center / cover;
}
.target__color {
  width: 100%;
}

.target__color div {
  width: 70px;
  height: 70px;
  margin-top: 3rem;
  background-color: #c0c0c0;
  border: 4px solid #ddb892;
}
header button,
.card button,
.Game__options div button {
  background-color: var(--primary-color);
  color: white;
  font-size: 40px;
  padding: 0.5rem;
  margin: 1rem;
}
header button:hover,
.card button:hover,
.Game__options div button:hover {
  background-color: #da6646;
}
.middle__section > div {
  height: 370px;
}
.colors__buttons {
  width: 50%;
}
#red {
  background-color: #e5383b !important;
}
#green {
  background-color: #43aa8b !important;
}
#blue {
  background-color: #277da1 !important;
}
#gray {
  background-color: #736f72 !important;
}
#white {
  background-color: #e5e6e4 !important;
}
#pink {
  background-color: #f4acb7 !important;
}
#orange {
  background-color: #eb5e28 !important;
}
#violet {
  background-color: #a663cc !important;
}
#red,
#green,
#blue,
#gray,
#white,
#pink,
#orange,
#violet {
  border: 2px solid black;
}
.colors__buttons button {
  padding: 1.5rem;
  margin: 0.5rem;
  border: 4px solid #ddb892 !important;
}
.colors__buttons button:hover {
  transition: 0.2s;
  border: 1px solid #ddb892 !important;
}
.selected__colors > div div {
  width: 22px;
  height: 22px;
  background-color: #c0c0c0;
}
.Game__options {
  z-index: 1;
  margin-top: 3rem;
  position: relative;
}
.Game__options img {
  position: absolute;
  transform: translateY(-60%);
  opacity: 0.6;
}
.Game__options div {
  width: 100%;
  position: absolute;
  transform: translateY(-60%);
}
.selected__log {
  margin-top: 0.5rem !important;
}
.selected__colors > div {
  margin: 0.5rem 3rem !important;
}

.card {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  background-color: #c0c0c0;
  transition: 1s;
}
.ok__click {
  padding: 0.5rem 1rem !important;
  transition: 1s;
  margin-left: 0 !important;
}
.card h5 {
  font-size: 40px;
  font-weight: 400;
}
.card-header {
  font-size: 40px;
  font-weight: 400;
  padding: 0.5rem 1rem;
  flex: 1 1 auto;
}
.card-body {
  padding: 0 1rem;
  flex: 1 1 auto;
}
.card > h5 {
  font-size: 60px;
  border-bottom: solid 1px rgb(128, 128, 128);
}

.correct {
  background-color: #b9fbc0 !important;
}
.incorrect {
  background-color: #ffa69e !important;
}
.maybe {
  background-color: #fdffb6 !important;
}
.last__modal {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background: #e639467b;
  font-size: 60px;
  transform: translateX(-100%);
  transition: 0.5s;
  font-family: cursive;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.last__modal p {
  font-family: "Alfa Slab One", cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 744px) {
  .colors__buttons {
    width: 100%;
  }
  .target__color div {
    width: 40px;
    height: 40px;
  }
}
